* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background: #3c404e;
    padding: 1rem 2rem;
    position: relative;
}

header:after,
.nav-in-main {
    content: "";
    display: table;
    clear: both;
}

.main-logo {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 2rem;
    left: 4rem;
}

.fab {
    color: #ffffff;
    font-size: 2rem; /* can't find the right icon */
}

.header-navigation {
    float: right;
    margin-right: 3rem;
}

.header-navigation>ul>li {
    list-style: none;
    display: inline-block;
    padding-left: 1.2rem;
    vertical-align: middle;
}

.pre-item-image {
    width: 6rem;
}

.item-image {
   width: 35px;
   margin-right: 0.5rem;
}

.nav-item {
    text-decoration: none;
    display: block;
    color: #a4aabc;
    font-size: 0.9rem;
}

.nav-image {
    border-radius: 50%;
    display: block;
    width: 35px;
    height: 35px;
}

main {
    max-width: 900px;
    margin: auto;
    color: #404350;
}

.in-main-float {
    float: left;
}

.main-question>a {
    text-decoration: none;
    display: block;
    color: #424652;
    font-size: 2rem;
    margin-top: 3.5rem;
    margin-right: 2rem;
}

.in-main-list {
    margin-top: 4.35rem;
}

.in-main-list>li {
    display: inline-block;
}

.in-main-list>li>a {
    text-decoration: none;
    display: block;
    color: #424652;
    font-size: 1rem;
    padding-right: 1.5rem;
}

.in-main-list>li>a:hover {
    color: #e1a39e;
}

.in-main-float-right {
    float: right;
    margin-top: 4rem;
    margin-left: 15rem;
}

.in-main-form>div>input {
    display: inline-block;
}

/* it's not working, guys...
Am leaving as it is till find out how to fix this:

.in-main-form>div>.search-placeholder:before {
    height: 2rem;
   
}

.in-main-form>div>.button-question {
    height: 2rem;
}
*/
.in-main-form>div>.button-question:hover {
    background: #dd9490;
    border-radius: 20px;
    height: 2.5rem;
    width: 8rem;
    color: #fbf4f4;
    font-weight: 700;
    font-size: 0.8rem;
} 

.ava-img>img {
    display: block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.section-header {
    position: relative;
    margin-bottom: 1rem;
}

.ava-img {
    position: absolute;
    width: 35px;
    height: 35px;
}

.section-header>h3 {
    position: absolute;
    left: 50px;
    top: -20px;
}

.section-header>p {
    position: absolute;
    left: 50px;
    top: 10px;
    color: #666873;
    font-size: 0.8rem;
}

section {
    position: relative;
    max-height: 200px;
    height: 130px;
    margin-top: 3rem;
}

section>p {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 850px;
    line-height: 1.5rem;
}

.counter {
    position: relative;
    right: 0;
    top: 3rem;
}

.counter>.number {
    position: absolute;
    right: 0.3rem;
    top: -2.3rem;
    color: #535662;
    font-size: 2rem;
}

.counter>.number-one-symbol {
    position: absolute;
    right: 0.7rem;
    top: -2.3rem;
    color: #535662;
    font-size: 2rem;
}

.counter>p {
    position: absolute;
    right: 0;
    top: -1rem;
    font-size: 0.8rem;
    color: #df9d98;
}

hr {
    border: 1px solid #eeeef3;
}

.button-bottom {
    width: 8rem;
    margin: 3.5rem auto;
}
.button-bottom:hover {
    background: #dd9490;
    border-radius: 20px;
    height: 2.5rem;
    width: 8rem;
    color: #fbf4f4;
    font-weight: 700;
    font-size: 0.8rem;
}

footer {
    background: #3c404e;
    margin-top: 8rem;
    padding-top: 1rem;
    position: relative;
    height: 12rem; 
}

.footer-logo {
    width: 2rem;
    height: 2rem;
    margin: 2rem auto;
}

footer>ul {
    position: absolute;
    top: 5rem;
    left: 31rem;
    
}

footer>ul>li {
    display: inline-block;
    color: #959aab;
    padding-right: 1rem;
}

.footer-nav>ul>li {
    list-style: none;
    display: inline-block;
    padding-right: 1rem;
}

.nav-tem-footer {
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-size: 0.9rem;
}

.footer-nav {
    position: absolute;
    top: 7rem;
    left: 33rem;
}